<div class="title" style="text-align:center;margin:50px;">
	<h1 >Salut à toi Utilisateur</h1>
	<h2 >Voici la liste des Gossips</h2>
	<a href="/gossip/add" class="btn btn-success">Ajout de Gossip</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Les Gossip</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  	<% @gossip.each do |gossip|%>	
    <tr>
      <th scope="row"><%= gossip.id%></th>
      <td><%= gossip.author%></td>
      <td><%= gossip.content%></td>
      <td><a href="/gossip/modification/<%= gossip.id%>" class="btn btn-warning">Modifier</a><a href="/gossip/suppression/<%= gossip.id%>" class="btn btn-danger">Supprimer</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
